<style>
  .hide {
    display: none !important;
  }
</style>


<script>
  function remove() {
    let footer = document.querySelector('div.footer');
    let header = document.querySelector('div.header-text');
    let slideNo = document.querySelector('div.slide-number');
    slideNo.classList.add('hide');
    footer.classList.add('hide');
    header.classList.add('hide');

    Reveal.on('slidechanged', event => {
      if(Reveal.isFirstSlide() ||
      Reveal.getCurrentSlide().classList[0].includes("title-slide")) {
        slideNo.classList.add('hide');
        footer.classList.add('hide');
        header.classList.add('hide');
      } else {
        slideNo.classList.remove('hide');
        footer.classList.remove('hide');
        header.classList.remove('hide');

      }
    });
  }

  window.onload = remove();
</script>
